<div class="row">
    <div class="colLeft">
        <am-topnavbar>Loading...</am-topnavbar>

        <fm-sidenavbar>Loading...</fm-sidenavbar>
    </div>

    <div class="colRight">
        <div class = "row">
            <am-singin>Loading...</am-singin>
        </div>

        <div class = "row">
            <div class ="browse">
                Browse
                <hr>
            </div>
        </div>
        
        <div class = "row">
            <am-category-carousel>Loading...</am-category-carousel>
        </div>

        <div class ="row">
            <div class = "playlists">
                <hr>
                Playlists We Love
            </div>
        </div>

        <div class = "row">
            <am-category-card>Loading...</am-category-card>
            <am-footer>Loading...</am-footer>
        </div>
    </div>
</div>