<nav class="navbar navbar-light bg-light">
    <div class="row row-3-cols-1 mx-5 ">

        <ul class="navbar-nav" role="button">
            <li class="nav-item">
                <a class="nav-link my-1" href="#" role="buttom">
                    Listen Now
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link my-1" href="#" role="button">
                    Browse
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link my-1" href="#" role="button">
                    Radio
                </a>
            </li>
        </ul>

    </div>
</nav>