
.input-group {
    border-radius: 8px;
    outline-style: 8px solid;
    outline-color: dimgray;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    margin-left: 5px;
}

.input-group:active, .input-group:focus, .input-group:hover {
    outline-style: solid;
    outline-color: #d60017;
}

